<!DOCTYPE html>
<html lang="ru">
     <head>
            <meta charset="UTF-8">
            <title>РВД-сервис</title>       
     </head>
     <body class="body">
        <header class="header">
            <div class="header__logo">
               <img src="" alt="Логотип компании РВД-сервис">
            </div>
            <nav class="header__navigation navigation">
                <div class="header__navigation registration">
                    <a href="#" class="header__navigation registraion-link">Регистрация</a>
                </div>
                <div class="header__navigation login">
                    <button class="login-button">Войти</button>
                </div>
                <div class="navigation__item search">
                    <label class="navigation__item search">
                    <input type="search" name="Поиск" placeholder="Поиск">
                    </label>
                </div>
                <div class="navigation__item callback">
                    <label for="">
                    <input type="text" name='Перезвоните мне' class="navigation__item callback-field" placeholder="Перезвоните мне">
                    </label>
                </div>
                <div class="cart">
                    <button class="cart-button">Корзина</button>
                </div>
                <ul class="navigation__list">
                    <li class="navigation__item">
                        <a href="" class="navigation__link doods-list-link">Каталог товаров
                            <ul class="navigation__item goods-sublist">
                                <li class="navigation__item goods-sublist-item"><a href="#" class="navigation__link goods-sublist-link">Товар 1</a></li>
                                <li class="navigation__item goods-sublist-item"><a href="#" class="navigation__link goods-sublist-link">Товар 2</a></li>
                                <li class="navigation__item goods-sublist-item"><a href="#" class="navigation__link goods-sublist-link">Товар 3</a></li>
                                <li class="navigation__item goods-sublist-item"><a href="#" class="navigation__link goods-sublist-link">Товар 4</a></li>
                                <li class="navigation__item goods-sublist-item"><a href="#" class="navigation__link goods-sublist-link">Товар 5</a></li>
                            </ul>
                        </a>
                    </li>
                    <li class="navigation__item"><a href="#" class="navigation__link">О компании</a></li>
                    <li class="navigation__item services-list">
                        <a href="#" class="navigation__link services-list-link">РВД-сервис (УСЛУГИ) 
                        <ul class="navigation__item services-sublist">
                        <li class="navigation__item services-sublist-item"><a href="#" class="navigation__link services-sublist-item-link">Услуга 1</a></li>
                        <li class="navigation__item services-sublist-item"><a href="#" class="navigation__link services-sublist-item-link">Услуга 2</a></li>
                        <li class="navigation__item services-sublist-item"><a href="#" class="navigation__link services-sublist-item-link">Услуга 3</a></li>
                        <li class="navigation__item services-sublist-item"><a href="#" class="navigation__link services-sublist-item-link">Услуга 4</a></li>
                        <li class="navigation__item services-sublist-item"><a href="#" class="navigation__link services-sublist-item-link">Услуга 5</a></li>
                        </a>
                        </ul>
                    </li>
                    <li class="navigation__item"><a href="" class="navigation__link">Информация</a></li>
                    <li class="navigation__item"><a href="" class="navigation__link">Контакты</a></li>
                </ul>
            </nav>
            <div class="header__contacts contacts">
                <a href="tel:+74872584059">+7 (4872) 58-40-59</a>
                <a href="info@rwd-servis.ru" class="header__contacts mail">info@rwd-servis.ru</a>
            </div>
        </header>
        <main class="main">
            <h1 class="visually-hidden">РВД-сервис</h1>
            <section class="index-banner">
               <a href="#" class="index-banner__link"></a>
               <div class="index-banner__description">
                  <span class="index-banner__text">Производство и ремонт РВД для грузовых автомобилей</span>
               </div>
            </section>
            <section class="services">
                <header class="services__title custom-title">
                    <h2>Наши услуги</h2>
                </header>
                <a href="#" class="services__item">
                    <span class="services__image">
                        <img src="" alt="РВД для легковых автомобилей"></span>
                        <span class="services__name">РВД для легковых автомобилей</span>
                    </a>
                <a href="#" class="services__item">
                    <span class="services__image">
                        <img src="" alt="РВД для грузовых автомобилей"></span>
                        <span class="services__name">РВД для грузовых автомобилей</span>
                    </a>
                <a href="#" class="services__item">
                    <span class="services__image">
                        <img src="" alt="РВД для моек высокого давления"></span>
                        <span class="services__name">РВД для моек высокого давления</span>
                    </a>
                <a href="#" class="services__item">
                    <span class="services__image">
                        <img src="" alt="РВД для коммунальной техники"></span>
                        <span class="services__name">РВД для коммунальной техники</span>
                    </a>
                <a href="" class="services__item">
                    <span class="services__image">
                        <img src="" alt="РВД для станков и оборудования"></span>
                        <span class="services__name">РВД для станков и оборудования</span>
                </a>
                <a href="" class="services__item">
                    <span class="services__image">
                        <img src="" alt="РВД для каналопромывочных машин"></span>
                        <span class="services__name">РВД для каналопромывочных машин</span>
                </a>
            <p>Компаня "РВД-Сервис" длительное время успешно занимается производством, а также ремонтом рукавов высокого давления (РВД) и труб высокого давления (ТВД)</p>        
            </section>
            <section class="goods">
                <header class="goods-header">
                    <h2>Популярные товары</h2>
                </header>
                <div class="goods goods-item__wrap">
                    <div class="goods goods-item">
                        <a href="#" class="goods-item link">Адаптеры 201, 202 (BSP 60°)</a>
                        <img src="" alt="">
                    </div>
                    <div class="item-slider__item">
                        <a href="#" class="goods-item-link"></a>
                        <img src="" alt="">
                    </div>
                    <div class="item-slider__item">
                        <img src="" alt="">
                    </div>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="footer__top"></div>
               <nav class="footer__navigation navigation">
                    <ul class="navigation__list">
                            <li class="navigation__item footer-item"><a href="#" class="navigation__link footer-link">О компании</a></li>
                            <li class="navigation__item footer-item"><a href="#" class="navigation__link footer-link">Каталог товаров</a></li>
                            <li class="navigation__item footer-item"><a href="#" class="navigation__link footer-link">РВД-Сервис (УСЛУГИ)</a></li>
                            <li class="navigation__item footer-item"><a href="#" class="navigation__link footer-link">Информация</a></li>
                            <li class="navigation__item footer-item"><a href="#" class="navigation__link footer-link">Контакты</a></li>
                    </ul>
               </nav>
               <div class="footer__contacts contacts">
                    <div class="footer__contacts contacts">
                            <a href="tel:+74992484434">+7 (499) 248-44-34</a>
                            <a href="info@rwd-servis.ru">info@rwd-servis.ru</a>
                    </div>  
               </div>
               <div class="page-start">
                   <button class="page-start__button"></button>
               </div>
            <div class="footer__bottom">
                <span class="footer__copy footer__copy_uppercase"></span>
                <span class="footer__copy">
                    <a href="#" target="_blank"></a>
                </span>  
            </div>
        </footer>
     </body>

</html><!--copied-->