@charset "UTF=8";
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria.woff2') format('woff2'),
        url('../fonts/Geometria.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Bold.woff2') format('woff2'),
        url('../fonts/Geometria-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Medium.woff2') format('woff2'),
        url('../fonts/Feometria-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'MullerBold';  
    src: url('../fonts/MullerBold.woff2') format('woff2'),
        url('../fonts/MullerBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MullerRegular';
    src: url('../fonts/MullerRegular.woff2') format('woff2'),
        url('../fonts/MullerRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}
img {
    max-height: 100%;
    max-width: 100%;
    display: block;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    position: relative;
}
body {
    min-width: 320px;
    font-size: 18px;
    line-height: 1;
    font-family: 'Geometria', 'MullerBold', 'MullerRegular', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}
.contacts__separator {
    color: #cb7b5e;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    display: block;
}
.header__wrap {
    display: flex;
    flex-direction: column;
}
.header__top,
.header__bottom {
    display: flex;
    flex-grow: 1;
}
.header__navigation {
    flex-grow: 1;
    width: 100%;
}
.header__contacts {
    display: flex;
}
.header__logo {
    width: 223px;
    height: 33px;
    color: #4c4c4c;
    color: #272727;
    font-family: Geometria;
    font-size: 36px;
    font-weight: 700;
    line-height: 22px;
    color: #4c4c4c;
}
.container {
    max-width: 1057px;
    padding: 0px 15px;
    margin: 0 auto;
}
.visually-hidden {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    padding: 0;
    margin: 0;
}
.header {
    z-index: 2;
}
.header__wrap {
    display: flex;
}
.navigation__item {
    flex-grow: 1;
}
.navigation__list {
    list-style-type: none;
    display: flex;
    padding: 0;
}
.navigation-sublist {
    display: none;
}
.goods-list__wrap {
    display: flex;
}
.services__wrap {
    flex-wrap: wrap;
    display: flex;
}